html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after {
  content: "";
  content: none;
}

q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/RalewayLight.woff") format("woff"), url("../fonts/RalewayLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/RalewaySemiBold.woff") format("woff"), url("../fonts/RalewaySemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 15px;
  min-width: 320px;
  position: relative;
  line-height: 1.2;
  background-color: #fff;
  color: #444444;
}

.num {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}

section {
  position: relative;
}

a {
  text-decoration: none;
  color: #fff;
}

.hidden {
  display: none;
}

.myContainer {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Loader */

.loader {
  background: none repeat scroll 0 0 #1f2d30;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  text-align: center;
  padding: 22% 0;
}

.loader p {
  color: #555;
}

.loader svg path,
.loader svg rect {
  fill: #FF6700;
}

.headItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 0 5px 0;
}

.headItem {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #1f2d30;
  color: #fff;
  z-index: 20;
}

.logo h1 {
  border: 2px solid #fff;
  margin: 5px 0;
  padding: 5px;
  float: left;
}

.topNav ul {
  float: right;
  list-style-type: none;
}

.topNav li {
  display: inline;
}

.topNav a {
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 12px 20px;
  color: #fff;
}

.topNav a:hover {
  background: #fcc236;
  color: #000;
}

.navBurger {
  display: none;
  position: fixed;
  right: 20px;
  top: 12px;
  cursor: pointer;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: content-box;
  width: 30px;
  height: 24px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index: 201;
}

.navBurger:before,
.navBurger:after {
  content: "";
  position: absolute;
  background: #fff;
  height: 2px;
  width: 100%;
  right: 0;
  will-change: rotate;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navBurger:before {
  top: -10px;
}

.navBurger:after {
  bottom: -10px;
  width: 90%;
}

.navBurger.active {
  background: transparent;
  background-clip: content-box;
}

.navBurger.active:before {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
      transform: rotate(135deg);
  top: 0;
  background: #eee;
  width: 110%;
}

.navBurger.active:after {
  bottom: 0;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
  background: #eee;
  width: 110%;
}

.overlay {
  position: fixed;
  background: #2a3140;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  z-index: 200;
}

.overlay.open {
  opacity: 0.99;
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.overlay.open li {
  display: block;
  -webkit-animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
          animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-transform: rotate(-7deg);
      -ms-transform: rotate(-7deg);
          transform: rotate(-7deg);
  -webkit-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
          transform-origin: right bottom;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.overlay.open li:nth-of-type(5) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.overlayMenu {
  position: absolute;
  text-align: right;
  right: 10vw;
  bottom: 10vw;
}

.overlayMenu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: block;
  position: relative;
  height: 100%;
}

.overlayMenu ul li {
  display: block;
  position: relative;
  opacity: 0;
  width: 100%;
}

.overlayMenu ul li a {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.09);
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  padding: 10px 40px 10px 40px;
  margin: 5px 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.overlayMenu ul li a:hover,
.overlayMenu ul li a:active,
.overlayMenu ul li a:focus {
  -webkit-transform: translateX(-2px);
      -ms-transform: translateX(-2px);
          transform: translateX(-2px);
  padding-left: 80px;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.03);
}

.locked {
  overflow: hidden;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }

  100% {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }

  100% {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.paralaxMain {
  min-height: 480px;
  background: transparent;
}

.yellowLine {
  background: #fcc236;
  width: 100%;
  height: 20px;
  margin-bottom: 50px;
}

h3 {
  width: 200px;
  font-size: 24px;
  border-bottom: 6px solid #fcc236;
  padding-bottom: 4px;
}

h4 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
  font-weight-margin-top: 0;
  font-weight-font-size: 14px;
  margin-bottom: 10px;
}

.mainSection {
  margin: 40px 0;
}

.content {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.logoitemtext {
  z-index: 3;
  position: absolute;
  top: 40%;
  left: 20%;
  color: #E5E5E5;
  font-size: 50px;
  background: rgba(150, 150, 150, 0.3);
}

.logoitemtext h2 {
  text-shadow: 4px 4px 1px #222;
}

.logoitemtext .cetr {
  text-align: center;
}

.logoitemtext .rigt {
  text-align: right;
}

.about .content .aboutItem {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(41.66667% - 30px);
}

.about .content .aboutLogo {
  float: left;
  padding: 10px;
  text-align: center;
}

.about .content .aboutLogo img {
  max-width: 180px;
}

.about .content .aboutText p {
  margin-bottom: 10px;
}

.projects .content .projectsItem {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% - 30px);
  margin-bottom: 20px;
}

.projects .content .projectsText {
  max-width: 60%;
}

.projects .content .projectsText p {
  margin-bottom: 10px;
}

.projects .content .projectsCounts {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.projects .content .projectsCounts .countBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
}

.projects .content .projectsCounts .countBox .countItem {
  color: #fcc236;
  font-size: 34px;
}

.news .newsBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% - 30px);
  text-align: center;
}

.news .newsBox p {
  font-size: 24px;
}

.map p {
  margin: 10px 0;
}

.map .mapBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% - 30px);
}

.contacts .contactsText {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% - 30px);
}

.contacts .contactsText p {
  margin-bottom: 20px;
  font-size: 16px;
}

.footer {
  background: #1f2d30;
  color: #fff;
  padding: 30px 0;
}

@media screen and (max-width: 1600px) {
  .logoitemtext {
    font-size: 40px;
  }
}

@media screen and (max-width: 1300px) {
  .logoitemtext {
    font-size: 35px;
  }
}

@media screen and (max-width: 1100px) {
  .about .content .aboutItem {
    width: calc(50% - 30px);
  }

  .projects .content .projectsItem {
    width: calc(100% - 30px);
  }

  .projects .content .projectsCounts .countBox {
    width: calc(33.33333% - 30px);
  }

  .news .newsBox {
    width: calc(100% - 30px);
  }

  .map .mapBox {
    width: calc(100% - 30px);
  }

  .contacts .contactsText {
    width: calc(100% - 30px);
  }

  .logoitemtext {
    font-size: 30px;
  }
}

@media screen and (max-width: 960px) {
  .headItem {
    width: calc(100% - 30px);
  }

  .about .content .aboutItem {
    width: calc(50% - 30px);
  }

  .projects .content .projectsItem {
    width: calc(100% - 30px);
  }

  .projects .content .projectsCounts .countBox {
    width: calc(100% - 30px);
  }

  .news .newsBox {
    width: calc(100% - 30px);
  }

  .map .mapBox {
    width: calc(100% - 30px);
  }

  .contacts .contactsText {
    width: calc(100% - 30px);
  }

  .logoitemtext {
    font-size: 25px;
  }
}

@media screen and (max-width: 780px) {
  .myContainer {
    padding-left: 15px;
    padding-right: 15px;
  }

  .topNav {
    display: none;
  }

  .navBurger {
    display: block;
  }

  .logoitemtext {
    font-size: 20px;
  }
}

@media screen and (max-width: 560px) {
  .headItem {
    width: calc(100% - 30px);
  }

  .about .content .aboutItem {
    width: calc(100% - 30px);
  }

  .projects .content .projectsItem {
    width: calc(100% - 30px);
  }

  .projects .content .projectsCounts .countBox {
    width: calc(100% - 30px);
  }

  .news .newsBox {
    width: calc(100% - 30px);
  }

  .map .mapBox {
    width: calc(100% - 30px);
  }

  .contacts .contactsText {
    width: calc(100% - 30px);
  }

  .logoitemtext {
    font-size: 18px;
  }
}

@media screen and (max-width: 460px) {
  .logoitemtext {
    font-size: 14px;
  }
}